@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

h1 {
	clear: both;
	font-family: "Patua One", serif;
	letter-spacing: 2px;
	color: #007489;
}

h1.heading-map {
    text-align: center;
    margin: 0;
    margin-top: -50px;
}

.main-wrapper {
   margin: 15px 10%;
   border: 1px solid black;
}